<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='makeres.css') }}">

</head>
<body>
    <form action="/verify" method="post" class="forms">
        <label for="name">name</label>
        <input type="text" name="name">
        <label for="liscenseplate_number">liscenseplate_number</label>
        <input type="text" name="liscenseplate_number">
        <label for="color">color</label>
        <input type="text" name="color">
        <label for="model">model</label>
        <input type="text" name="model">
        <input type="hidden"name="user_id" value="{{session['user_id']}}">

        <input type="submit">

        






    </form>
</body>
</html>